<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>NHRI</title>
        <link rel="stylesheet" href="{{ url_for('static',path='loginP3.css')}}">
    </head>

    <body style="margin: 0; background-color: #f3f3f3;">

        <nav class="topbg"></nav>  <!--top white-->

        <div class="bg">           <!--center blue-->

            <div class="imgb imgb-animation">     <!--img background-->
                
                <div class="loginbox">

                    <div>

                        <div style="width: 258px; height:120px; margin-top: 2.2rem;display: flex;flex-direction: column; align-items: center;justify-content: center;margin-bottom: 0.5rem;">
                            <form id="trgt" method="POST" action="/into_P3">
                            <button id="btn22" type="submit" class="btn btn2" style="width: 280px;height: 150px;font-size:25px; background-color: rgba(138, 255, 216, 0.794);"><b>進入P3實驗室辨識系統</b></button>
                            </form>
                        </div>

                        <div style="border-bottom: 1px solid #101216; margin-top: 2rem;"></div>

                        <div style="width: 258px; height:30px;display: flex;flex-direction: column; align-items: center;justify-content: center;margin-top: 0.5rem;">
                            <b><a style="font-size: 1.3rem;">管理人員登入系統</a></b>
                        </div>

                        <div style="display: flex;align-self: center;justify-content: center;">
                            <form method="POST" action="/SelectPage">
                                <input type="text" name="account" value="test" placeholder="請輸入帳號" style="width:180px; height:20px; font-size:20px;margin-top: 0.5rem;border-radius:10px;">
                                <br/>
                                <input type="password" name="password" value="admin" placeholder="請輸入密碼" style="width:180px; height:20px; font-size:20px;margin-top: 0.5rem;border-radius:10px;">
                                <br/>
                                <button id="btn11" type="submit" class="btn btn1 btn1h" type="button" style="width:188px; height:25px;font-size:15px;margin-top: 0.8rem;background-color: #cbf4fc9c;margin-bottom: 1.2rem;"><b>登入</b></button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script src="{{ url_for('static',path='loginP3.js')}}"></script>

    </body>
    
</html>